body {
    background: #fff;
    padding: 32px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: #222222;
    min-height: 100vh;
    box-sizing: border-box;
}
  
body, html {
    background: #fff;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: #222222;
}
  